<div class="container-fluid bg-info">
  <div class="w-100 mt-2 p-5 d-flex justify-content-center ">
    <nav aria-label="...">
      <ul class="pagination">
        <li 
            class="page-item"
            [ngClass]="{disabled: currentPage === 0}">
          <a href="" class="page-link"> Prev </a>
        </li>
        <li class="page-item" [ngClass]="{ active: i === currentPage }" 
            *ngFor="let image of images; let i = index;">
          <a class="page-link" href="#" tabindex="-1"> {{ i + 1 }} </a>
        </li>
        <li class="page-item" 
            [ngClass]="{disabled: currentPage === images.length-1}">
          <a href="" class="page-link"> Next </a>
        </li>
      </ul>
    </nav>
  </div>
</div>